* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.slider-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    color: #333;
    gap: 10px;
    margin-bottom: 20px;
}

.slider-container label {
    margin-right: 10px;
}

#numImagesSlider {
    width: 200px;
}

.circle-container {
    position: relative;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--container-size);
    height: var(--container-size);
}

.center-text {
    position: absolute;
    top: var(--center-position);
    left: var(--center-position);
    transform: translate(-50%, -50%);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: #333;
    pointer-events: none;
    width: var(--center-size);
    height: var(--center-size);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
    width: var(--image-size);
    height: var(--image-size);
}

.image:hover {
    transform: scale(1.05);
}

.image.highlight {
    border: var(--highlight-size) solid #28a745;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 10;
    display: none;
}

.popup.active {
    display: block;
}

.popup button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    max-width: 48%;
    height: 30px;
}

.popup button[onclick*="resetPuzzle"] {
    background-color: #FF0000;
}
.popup button[onclick*="resetPuzzle"]:hover {
    background-color: #CC0000;
}

.popup button[onclick*="changePuzzle"] {
    background-color: #008000;
}
.popup button[onclick*="changePuzzle"]:hover {
    background-color: #006400;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
