* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.circle-container {
    position: relative;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(80vw, var(--container-size)); /* Responsive width */
    height: min(80vw, var(--container-size)); /* Responsive height */
    max-width: var(--container-size); /* Ensure the maximum size limit */
    max-height: var(--container-size); /* Ensure the maximum size limit */
    aspect-ratio: 1 / 1; /* Maintains a square shape */
}

.center-text {
    position: absolute;
    top: var(--center-position);
    left: var(--center-position);
    transform: translate(-50%, -50%);
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: #333;
    pointer-events: none;
    width: var(--center-size);
    height: var(--center-size);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
    width: var(--image-size);
    height: var(--image-size);
}

.image:hover {
    transform: scale(1.05);
}

.image.highlight {
    border: var(--highlight-size) solid #28a745;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 10;
    display: none;
}

.popup.active {
    display: block;
}

.popup button {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    padding: 10px 20px; /* Consistent padding */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    max-width: 48%; /* Ensure buttons have equal max-width */
    height: 30px; /* Set a fixed height for consistency */
}

/* Button styles */
.popup button[onclick*="resetPuzzle"] {
    background-color: #FF0000; /* Red color */
}
.popup button[onclick*="resetPuzzle"]:hover {
    background-color: #CC0000; /* Darker red on hover */
}

.popup button[onclick*="changePuzzle"] {
    background-color: #008000; /* Green color */
}
.popup button[onclick*="changePuzzle"]:hover {
    background-color: #006400; /* Darker green on hover */
}

/* Container for the buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Add gap between buttons */
}
