body {
    font-family: Arial, sans-serif;
    font-size: 2vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 8vh;
    border-radius: 1vh;
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.1);
}

#anagram {
    font-size: 6vh;
    margin-bottom: 5vh;
}

input {
    padding: 3vh;
    width: 40vh;
    font-size: 3vh;
    margin-bottom: 3vh;
}

.buttons {
    display: flex;
    gap: 3vh;
    justify-content: center;
}

button, a {
    padding: 2vh 4vh;
    font-size: 3vh;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}

button:hover, a:hover {
    background-color: #0056b3;
}

input.correct {
    border: 1vh solid green;
}

input.wrong {
    border: 1vh solid red;
}
